DATABASE_URL=postgres://localhost:5432/twentyfive_stars
RUST_LOG=debug
AUTH0_CLIENT_ID=client_id_from_auth0
AUTH0_CLIENT_SECRET=client_secret_from_auth0
AUTH0_BASE_URL=https://example.us.auth0.com
# This is the API endpoint your Auth0 application is using
AUTH0_AUDIENCE=https://example.example.com
AUTH0_LOGIN_REDIRECT_URL=http://localhost:3000/login_success
AUTH0_LOGOUT_RETURN_URL=http://localhost:3000/
