[package]
name = "twentyfive-stars-server"
version = "0.1.0"
authors = ["Blaine Bublitz <blaine.bublitz@gmail.com>"]
edition = "2018"

[[bin]]
name = "server"
path = "src/main.rs"

[dependencies]
async-graphql = "1.12.11"
async-graphql-tide = "1.4.11"
async-trait = "0.1.30"
chrono = "0.4.1"
diesel = { version = "1.4.4", features = ["postgres", "chrono", "uuidv07", "r2d2"] }
diesel-derive-newtype = "0.1.2"
dotenv = "0.9.0"
env_logger = "0.7.1"
futures = "0.3.4"
serde_json = "1.0.51"
smol = "0.1.0"
tide = "0.8.0"
uuid = { version = "0.8.1", features = ["serde", "v4"] }
